<body><head>

<title>Retro Pix (Protean)</title>

<style>

h1 {font-weight: 100;
font-size: 40px;
color: #34AADC;}

h2 {font-weight: 100;
font-size: 30px;
color: #34AADC;}

h3 {font-weight: 200;
font-size: 20px;
color: #34AADC;}

body {font-family: "Helvetica"; color: #34AADC}

a {color: #34AADC; font-size: 25px; text-decoration:none}

.alignleft {float: left;}
.alignright {float: right;}

</style>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

<panel>
<div>

<div>
<center>
<h1><b>Retro Pix (Protean)</b></h1>
<h2>by Avery Magnotti (citrus)</h2>
<h3>For all devices running iOS 7.0+</h3>
</center>
</div>

<div>
<fieldset>
<h3>pixel-by-pixel, crisp, flat glyphs for your status bar</h3>
</div>
</fieldset>

<div>
<fieldset>
<a class="alignleft" href="http://twitter.com/citrusui"><img src="/roll/cache/Repositories.png" height="30" width="30"></a>
<img class="alignright" src="/roll/cache/Addons.png" height="30" width="30">
</div>
</fieldset>
</panel>

</head></body>