<link rel="stylesheet" type="text/css" href="stylesheets/main.css" media="screen" />
<link rel="stylesheet" type="text/css" href="stylesheets/cc-gen.css" media="screen" />
<link rel="stylesheet" type="text/css" href="stylesheets/printtext.css" media="print" />
<div id="container">
<div class="inner">
<header>
<h1>You don't belong here.</h1>
</header>
</div></div>