<body><head>

<title>elementary OS</title>

<style>

h1 {font-weight: 100;
font-size: 40px;
color: #5856D6;}

h2 {font-weight: 100;
font-size: 30px;
color: #5856D6;}

h3 {font-weight: 200;
font-size: 20px;
color: #5856D6;}

body {font-family: "Helvetica"; color: #5856D6}

a {color: #5856D6; font-size: 25px; text-decoration:none}

.alignleft {float: left;}
.alignright {float: right;}

</style>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

<panel>
<div>

<div>
<center>
<h1><b>elementary OS</b></h1>
<h2>by Avery Magnotti (citrus)</h2>
<h3>For iPhone 5, 5c, and 5s.</h3>
</center>
</div>

<div>
<center>
<fieldset>
<img src="https://docs.google.com/uc?export=download&id=0B0KWTyBbRZHgb2I3ZVVjem51RE0" height="480px" weight="852px">
</div>
</center>
</fieldset>

<div>
<center>
<fieldset>
<img src="https://docs.google.com/uc?export=download&id=0B0KWTyBbRZHgcHRsVW5RSjhkRWs" height="480px" weight="852px">
</div>
</center>
</fieldset>

<div>
<center>
<fieldset>
<img src="https://docs.google.com/uc?export=download&id=0B0KWTyBbRZHgM2xSbF9veXAyU28" height="480px" weight="852px">
</div>
</center>
</fieldset>

<div>
<center>
<fieldset>
<img src="https://docs.google.com/uc?export=download&id=0B0KWTyBbRZHgSWd1SVE5ZEMtMEk" height="480px" weight="852px">
</div>
</center>
</fieldset>

<div>
<center>
<fieldset>
<img src="https://docs.google.com/uc?export=download&id=0B0KWTyBbRZHgbjRUTUxfalNEOTA" height="480px" weight="852px">
</div>
</center>
</fieldset>

</panel>

</head></body>