<body><head>

<title>elementary OS</title>

<style>

h1 {font-weight: 100;
font-size: 40px;
color: #5856D6;}

h2 {font-weight: 100;
font-size: 30px;
color: #5856D6;}

h3 {font-weight: 200;
font-size: 20px;
color: #5856D6;}

body {font-family: "Helvetica"; color: #5856D6}

a {color: #5856D6; font-size: 25px; text-decoration:none}

.alignleft {float: left;}
.alignright {float: right;}

</style>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

<panel>
<div>

<div>
<center>
<h1><b>elementary OS</b></h1>
<h2>by Avery Magnotti (citrus)</h2>
<h3>For iPhone 5, 5c, and 5s.</h3>
</center>
</div>

<div>
<fieldset>
<h3>elementary OS wallpapers ported to iPhone</h3>
</div>
</fieldset>

<div>
<fieldset>
<h3><a href="./shots">Screenshots</a>
</div>
</fieldset>

<div>
<fieldset>
<a class="alignleft" href="http://elementaryos.org"><img src="/roll/cache/Repositories.png" height="30" width="30"></a>
<img class="alignright" src="/roll/cache/Wallpaper.png" height="30" width="30">
</div>
</fieldset>
</panel>

</head></body>