<body><head>

<title>ModernSettings</title>

<style>

h1 {font-weight: 100;
font-size: 40px;
color: #FF2D55;}

h2 {font-weight: 100;
font-size: 30px;
color: #FF2D55;}

h3 {font-weight: 200;
font-size: 20px;
color: #FF2D55;}

body {font-family: "Helvetica"; color: #FF2D55}

a {color: #FF2D55; font-size: 25px; text-decoration:none}

.alignleft {float: left;}
.alignright {float: right;}

</style>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

<panel>
<div>

<div>
<center>
<h1><b>ModernSettings</b></h1>
<h2>by Avery Magnotti (citrus)</h2>
<h3>Original code by @CPVideoMaker</h3>
</center>
</div>

<div>
<fieldset>
<h3>iOS 6-like preference panel for iOS 5.x</h3>
</div>
</fieldset>

<div>
<fieldset>
<a class="alignleft" href="http://reddit.com/r/jailbreakcirclejerk"><img src="/roll/cache/Repositories.png" height="30" width="30"></a>
<img class="alignright" src="/roll/cache/System.png" height="30" width="30">
</div>
</fieldset>
</panel>

</head></body>