<body><head>

<title>ayeris fix</title>

<style>

h1 {font-weight: 100;
font-size: 40px;
color: #007AFF;}

h2 {font-weight: 100;
font-size: 30px;
color: #007AFF;}

h3 {font-weight: 200;
font-size: 20px;
color: #007AFF;}

body {font-family: "Helvetica"; color: #007AFF}

a {color: #007AFF; font-size: 25px; text-decoration:none}

.alignleft {float: left;}
.alignright {float: right;}

</style>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

<panel>
<div>

<div>
<center>
<h1><b>ayeris fix</b></h1>
<h2>by Avery Magnotti (citrus)</h2>
<h3>This package will not work on the iPhone 6 Plus.</h3>
</center>
</div>

<div>
<fieldset>
<h3>A quick fix to apply missing ayeris icons on iOS 8.x. Keep in mind that once ayeris is properly updated for iOS 8, this package will be useless.</h3>
</div>
</fieldset>

<div>
<fieldset>
<h3><a href="./shots">Screenshots</a>
</div>
</fieldset>

<div>
<fieldset>
<a class="alignleft" href="http://surenix.me"><img src="/roll/cache/Repositories.png" height="30" width="30"></a>
<img class="alignright" src="/roll/cache/Themes.png" height="30" width="30">
</div>
</fieldset>
</panel>

</head></body>