<body><head>

<title>Pixelmator for iPhone</title>

<style>

h1 {font-weight: 100;
font-size: 40px;
color: #007AFF;}

h2 {font-weight: 100;
font-size: 30px;
color: #007AFF;}

h3 {font-weight: 200;
font-size: 20px;
color: #007AFF;}

body {font-family: "Helvetica"; color: #007AFF}

a {color: #007AFF; font-size: 25px; text-decoration:none}

.alignleft {float: left;}
.alignright {float: right;}

</style>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

<panel>
<div>

<div>
<center>
<h1><b>Pixelmator (iPhone)</b></h1>
<h2>by Avery Magnotti (citrus)</h2>
<h3>Ported by Trevor Schmitt.</h3>
</center>
</div>

<div>
<fieldset>
<h3>Quick fix to kinda run Pixelmator on iPhone.</h3>
</div>
</fieldset>

<div>
<fieldset>
<h3><a href="./shots">Screenshots</a>
</div>
</fieldset>

<div>
<fieldset>
<a class="alignleft" href="http://twitter.com/citrusui"><img src="/roll/cache/Repositories.png" height="30" width="30"></a>
<img class="alignright" src="/roll/cache/Multimedia.png" height="30" width="30">
</div>
</fieldset>
</panel>

</head></body>