<body><head>

<title>elementary OS (legacy)</title>

<style>

h1 {font-weight: 100;
font-size: 40px;
color: #5856D6;}

h2 {font-weight: 100;
font-size: 30px;
color: #5856D6;}

h3 {font-weight: 200;
font-size: 20px;
color: #5856D6;}

body {font-family: "Helvetica"; color: #5856D6}

a {color: #5856D6; font-size: 25px; text-decoration:none}

.alignleft {float: left;}
.alignright {float: right;}

</style>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

<panel>
<div>

<div>
<center>
<h1><b>elementary OS (legacy 3.5")</b></h1>
<h2>by Avery Magnotti (citrus)</h2>
<h3>For Retina iPhone and iPod 3.5".</h3>
</center>
</div>

<div>
<center>
<fieldset>
<img src="https://docs.google.com/uc?export=download&id=0B0KWTyBbRZHgaFhPd3F3TmNBWVU" height="360px" weight="720px">
</div>
</center>
</fieldset>
</panel>

</head></body>