<body><head>

<title>ubiquity</title>

<style>

h1 {font-weight: 100;
font-size: 40px;
color: #007AFF;}

h2 {font-weight: 100;
font-size: 30px;
color: #007AFF;}

h3 {font-weight: 200;
font-size: 20px;
color: #007AFF;}

body {font-family: "Helvetica"; color: #007AFF}

a {color: #007AFF; font-size: 25px; text-decoration:none}

.alignleft {float: left;}
.alignright {float: right;}

</style>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

<panel>
<div>

<div>
<center>
<h1><b>ubiquity</b></h1>
<h2>by Avery Magnotti (citrus)</h2>
<h3>now on iOS 8!</h3>
</center>
</div>

<div>
<center>
<fieldset>
<img src="https://docs.google.com/uc?export=download&id=0B0KWTyBbRZHgTmg0ZUk2X1JiNVU" height="480px" weight="852px">
</div>
</center>
</fieldset>
</panel>

<div>
<center>
<fieldset>
<img src="https://docs.google.com/uc?export=download&id=0B0KWTyBbRZHgVWo2WHNqRXlVVk0" height="480px" weight="852px">
</div>
</center>
</fieldset>
</panel>

</head></body>