<body><head>

<title>Perl</title>

<style>

h1 {font-weight: 100;
font-size: 40px;
color: #FF9500;}

h2 {font-weight: 100;
font-size: 30px;
color: #FF9500;}

h3 {font-weight: 200;
font-size: 20px;
color: #FF9500;}

body {font-family: "Helvetica"; color: #FF9500}

a {color: #FF9500; font-size: 25px; text-decoration:none}

.alignleft {float: left;}
.alignright {float: right;}

</style>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

<panel>
<div>

<div>
<center>
<h1><b>Perl</b></h1>
<h2>by Avery Magnotti (citrus)</h2>
<h3>compiled by CoolStar</h3>
</center>
</div>

<div>
<center>
<fieldset>
<img src="https://docs.google.com/uc?export=download&id=0B0KWTyBbRZHgOGliNTJDMzBtUjg" height="480px" weight="852px">
</div>
</center>
</fieldset>
</panel>

<div>
<center>
<fieldset>
<img src="https://docs.google.com/uc?export=download&id=0B0KWTyBbRZHgNUFzSHBacjNaUk0" height="480px" weight="852px">
</div>
</center>
</fieldset>

</head></body>