<body><head>

<title>NewHash</title>

<style>

h1 {font-weight: 100;
font-size: 40px;
color: #FF9500;}

h2 {font-weight: 100;
font-size: 30px;
color: #FF9500;}

h3 {font-weight: 200;
font-size: 20px;
color: #FF9500;}

body {font-family: "Helvetica"; color: #FF9500}

a {color: #FF9500; font-size: 25px; text-decoration:none}

.alignleft {float: left;}
.alignright {float: right;}

</style>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

<panel>
<div>

<div>
<center>
<h1><b>NewHash</b></h1>
<h2>by Avery Magnotti (citrus)</h2>
<h3>based off of NewTerm by HASHBANG Productions</h3>
</center>
</div>

<div>
<fieldset>
<h3>It's like NewTerm, but with more colors and fonts</h3>
</div>
</fieldset>

<div>
<fieldset>
<a class="alignleft" href="http://cydia.hbang.ws"><img src="/roll/cache/Repositories.png" height="30" width="30"></a>
<img class="alignright" src="/roll/cache/Terminal_Support.png" height="30" width="30">
</div>
</fieldset>
</panel>

</head></body>